<div class="text-center">
  <h4 class="text-center mt-4 "><%= @user.nickname %>さんの投稿一覧</h4>

<%= link_to '投稿画面へ', new_user_registration_path , class: "btn btn-primary" %>
  <div class="user-plan-contents">
  <% @user.plans.each do |plan| %>
    <%= image_tag plan.image, class: "show-plan-img" %>
    <div class= "">
      <p><%= plan.title %></p>
      <p><%= plan.cost %></p>
      <p><%= plan.content %></p>
      </div>
  <% end %>
  </div>
</div>