<header>
<div class="fixed-top">
      <nav class="navbar navbar-dark bg-dark">
        <%= link_to root_path do %><span class="navbar-text-top nounderline">TRAVEL SPACE</span><%end%>
      <ul class='lists-right list-unstyled'>      
        <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user), class: "maypage-rigth" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout-right" %></li>
        <%end%>
        </ul>
      </nav>
    </div>
</header>
<div>
<div class="btn-btn">
<div class='plan-page-header'>
  <div class="plan-top-content">
    <div class="header-sub-title">TRAVELING<br>〜コスパのよい旅をしましょう〜</div>
    <p class="servicet-title">お得に旅ができた経験を投稿して共有してください！</p>
  </div>
</div>
<div class="mt-5 pb-5 lead text-center  ">
  <%= link_to "新規投稿", new_plan_path, class: "btn btn-outline-success shadow" %>
</div>
<div class="plan-sub-title">
  <strong >新着一覧</strong>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 mx-auto">
<%= search_form_for @p, url: search_plans_path do |f| %>
  <%= f.label :category_id_eq, 'カテゴリー名' %>
  <%= f.collection_select :category_id_eq, Category.all, :id, :name,  include_blank: '指定なし' %>
  <br>
  <%= f.submit '検索' %>
<% end %>
<%= form_with(url: search_plans_path, local: true, method: :get, class: "search-plan") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "form-control" %>
  <%= form.submit "検索", class: "btn btn-primary" %>
   <% end %>
   </div>
  </div>
</div>

<%#投稿記事の一覧を表示させる%>
<div class="card__wrapper">
  <%= render partial: "plans/plan", collection: @plan %> 
</div>
<%#投稿記事の一覧を表示させる%>

<%#フォロー機能部分テンプレート>
<%# <%= render partial:"relationships/follow_button", user: @user %>
</div>
<div class="plan-btn">
<%= link_to(new_plan_path, class: 'purchase-btn') do %>
  <%= image_tag '飛行機の無料素材.png' , size: '100x50' ,class: "plan-btn-icon" %>
<% end %>
</div>
