  <div class="container">
    <h3 class="h3">新規投稿する</h3>
  <%= form_with(model: @plan, local: true) do |form| %>

  <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>
  <%= render 'shared/error_messages', model: form.object %>
  <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにしましょう。%>

<div class="container mt-5">
  <div class="row">
    <div class="col-6 mx-auto">
      <%= form.text_field :title, placeholder: "旅行先",class: "form-control" %>
      <%= form.text_area :content, placeholder: "旅行の内容や詳細を記入してください" ,class: "form-control"%>
      <%= form.text_area :cost, placeholder: "総費用" ,class: "form-control"%>
       <%# <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
  <div class="field">
    <%= form.label :image, "旅行の画像" %><br />
    <%= form.file_field :image %>
 </div>
  <%= form.submit "投稿する" ,class:"btn btn-primary" %>
    </div>
   </div>
  </div>

  </div>
<% end %>