<div class='plan-page-header'>
  <div class="plan-top-content">
    <div class="header-sub-title">TRAVELING<br>〜コスパのよい旅をしましょう〜</div>
    <p class="servicet-title">お得に旅ができた経験を投稿して共有しましょう！</p>
  </div>
</div>

<%= form_with(url: search_plans_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="plan-sub-title">新着一覧</div>
<div class="mt-5 pb-5 lead text-center ">
<%= link_to "新規投稿", new_plan_path, class: "plan-post" %>
</div>

<%#投稿記事の一覧を表示させる%>
<div class="card__wrapper">
<%= render partial: "plans/plan", collection: @plan %> 
</div>

