<main class= "plan-main">
  <div class="inner">
    <div class="text-center plan__wrapper">
      <p class="plan__hedding" >
      <%= "プランの詳細"%>
      </p>
      <%= link_to @plan.user.nickname, root_path, class: :plan__user %>
      <%# プランの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @plan.user_id %>
          <%= link_to "編集する", edit_plan_path(@plan.id), class: :plan__btn %>
          <%= link_to "削除する", plan_path(@plan.id), method: :delete, class: :plan__btn %>
        <% end %>
      <%# プランの投稿者とログインしているユーザーが同じであれば上記を表示する %>
    </div>

    <div style="position:absolute; top:200px; left:470px">
        <%= image_tag @plan.image.variant(resize: '500x500') %>
      </div>
      <div class="plan__body">
        <div class="plan__detail">
          <p class="detail__title">TITLE</p>
          <p class="detail__message">
            <%= @plan.title %>
          </p>
        </div>
  </div>
</main>
