<main class= "plan-main">
  <div class="inner">
    <div class="text-center plan__wrapper">
      <p class="plan__hedding" >
        <%= "旅行の詳細"%>
      </p>
      <%= link_to @plan.user.nickname, user_path(@plan.user), class: :plan__user %>
      <%# プランの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @plan.user_id %>
          <%= link_to "編集する", edit_plan_path(@plan.id), class: :plan__btn %>
          <%= link_to "削除する", plan_path(@plan.id), method: :delete, class: :plan__btn %>
        <% end %>
        <%= link_to '記事一覧画面へ', new_user_registration_path , class: :plan__btn %>
      <%# プランの投稿者とログインしているユーザーが同じであれば上記を表示する %>
        <%# <%= image_tag @plan.image.variant(resize: '500x500'),class: "image-plan-show" %>
     <div class="plan__body">
        <div class="plan__detail">
          <%= @plan.title %>
          <p class="detail__content">
            <%= @plan.content %>
          </p>
          <p class="detail__cost">
            ¥<%= @plan.cost %>
          </p>
          <p class="detail__category">
            <%# ※<%= @plan.category.name %>
          </p>
        </div>
    </div>

    <div class="container">
      <% if user_signed_in? %>
      <%= form_with(model: [@plan, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" ,class: "form-control" %>
        <%= form.submit "SEND" ,class:"btn btn-primary"%>
        <% end %>
        <% else %>
          <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
        <div class="content">
        <div class="comments">
      <h5>＜コメント一覧＞</h5>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <%= link_to comment.user.nickname, user_path(comment.user), class: :comment_user %>
            :<%= comment.text %>
          </p>
        <% end %>
      <% end %>
      </div>
    </div>
    </div> 
        </div>
      </div>
      <div class="text-center">
      <% breadcrumb :plan_show %>
<%= render "shared/breadcrumbs" %>
</div>
  </div>

</main>
