<!DOCTYPE html>
 <html>
  <head> 
    <title>Poitora</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TRAVEL SPACE</title>
     
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>

<!-- ナビゲーションバー -->
<body>
<header>
    <div>
      <nav class="navbar navbar-dark bg-dark">
        <%= link_to root_path do %><span class="navbar-text-top">TRAVEL SPACE</span><%end%>
      <ul class='lists-right list-unstyled'>
      <%# deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
        <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, user_path(current_user), class: "maypage-rigth" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout-right" %></li>
        <%# <% else %>
      <%# //deviseを導入できたら、ログインの有無で表示が変わるように分岐しましょう%>
        <%end%>
        </ul>
      </nav>
    </div>
</header>
<!-- ナビゲーションバー -->

    <%= yield %>
</body>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Travel Space footer content here.</p>
    </div>
  </footer>
</html>
